nav {
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  position: fixed;
}

.logo {
  font-family: Bungee, sans-serif;
}

.write-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: Source Sans Pro, sans-serif;
  font-size: 1.2em;
}

.write-tweet a {
  color: inherit;
  text-decoration: none;
}

.write-tweet i {
  margin-top: 5px;
  color: #f13c20;
}

 /* For Tablet and Mobile */
 @media only screen and (max-width: 1024px) {
  nav {
    height: 120px;
    width: 100vw;
    background-color: #d79922;
    background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    position: fixed;
  }
} 
